body {
    background-color: rgb(43, 7, 7);
    color: rgb(185, 0, 0);
    margin:0px;
    font-family: "Shadows Into Light", cursive;
}

header {
    border-bottom: solid 2px rgb(167, 12, 12);
    padding: 10px;
    font-size: 35px;
}
section{
    background-color:rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.titulo-video{
    margin-right: 5%;
    font-size: 20px;
}
p{
    font-size: 25px;
}
img{
    height:200px;
}
.fila-video {
    display:flex;
    overflow-x:auto;
    gap: 20px;
}
.fila{
    padding-left: 30px;
    padding-right: 30px;
}
.fila-video img {
opacity: o,5 ;
height: 200px;
}
.fila-video img:hover {
    opacity: 1,0;
}
